<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Community Food Resource Locator</display-name>


<login-config>
<auth-method>FORM</auth-method>
<form-login-config>
  <form-login-page>/login.jsp</form-login-page>
  <form-error-page>/loginError.jsp</form-error-page>
</form-login-config>
</login-config>

  <!-- Protect the user results pages/really doesn't do anything right now  TODO figure out pathing/url pattern -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>login</web-resource-name>
      <url-pattern>/loginAction</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Protect the admin pages -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/admin</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>user</role-name>
  </security-role>
  <security-role>
  <role-name>admin</role-name>
  </security-role>

  <error-page>
    <error-code>404</error-code>
    <location>/404PageNotFound.jsp</location>
  </error-page>
    <!-- A Mapping for a JSP page
          <servlet>
          <servlet-name>SearchUser</servlet-name>
          <jsp-file>/results.jsp</jsp-file>
          </servlet>


          <servlet>
          <servlet-name>SearchUser</servlet-name>
          <servlet-class>SearchUser</servlet-class>
          </servlet>

                    <!- A Mapping for a JSP page
            <servlet-mapping>
            <servlet-name>Declarations</servlet-name>
            <url-pattern>/declarations</url-pattern>
            </servlet-mapping>

                    <!- A Mapping for a Servlet
            <servlet-mapping>
            <servlet-name>TrivialServlet</servlet-name>
            <url-pattern>/trivial</url-pattern>
            </servlet-mapping>
            -->
</web-app>